.w1p {
  width: 1% !important; }

.w2p {
  width: 2% !important; }

.w3p {
  width: 3% !important; }

.w4p {
  width: 4% !important; }

.w5p {
  width: 5% !important; }

.w6p {
  width: 6% !important; }

.w7p {
  width: 7% !important; }

.w8p {
  width: 8% !important; }

.w9p {
  width: 9% !important; }

.w10p {
  width: 10% !important; }

.w11p {
  width: 11% !important; }

.w12p {
  width: 12% !important; }

.w13p {
  width: 13% !important; }

.w14p {
  width: 14% !important; }

.w15p {
  width: 15% !important; }

.w16p {
  width: 16% !important; }

.w17p {
  width: 17% !important; }

.w18p {
  width: 18% !important; }

.w19p {
  width: 19% !important; }

.w20p {
  width: 20% !important; }

.w21p {
  width: 21% !important; }

.w22p {
  width: 22% !important; }

.w23p {
  width: 23% !important; }

.w24p {
  width: 24% !important; }

.w25p {
  width: 25% !important; }

.w26p {
  width: 26% !important; }

.w27p {
  width: 27% !important; }

.w28p {
  width: 28% !important; }

.w29p {
  width: 29% !important; }

.w30p {
  width: 30% !important; }

.w31p {
  width: 31% !important; }

.w32p {
  width: 32% !important; }

.w33p {
  width: 33% !important; }

.w34p {
  width: 34% !important; }

.w35p {
  width: 35% !important; }

.w36p {
  width: 36% !important; }

.w37p {
  width: 37% !important; }

.w38p {
  width: 38% !important; }

.w39p {
  width: 39% !important; }

.w40p {
  width: 40% !important; }

.w41p {
  width: 41% !important; }

.w42p {
  width: 42% !important; }

.w43p {
  width: 43% !important; }

.w44p {
  width: 44% !important; }

.w45p {
  width: 45% !important; }

.w46p {
  width: 46% !important; }

.w47p {
  width: 47% !important; }

.w48p {
  width: 48% !important; }

.w49p {
  width: 49% !important; }

.w50p {
  width: 50% !important; }

.w51p {
  width: 51% !important; }

.w52p {
  width: 52% !important; }

.w53p {
  width: 53% !important; }

.w54p {
  width: 54% !important; }

.w55p {
  width: 55% !important; }

.w56p {
  width: 56% !important; }

.w57p {
  width: 57% !important; }

.w58p {
  width: 58% !important; }

.w59p {
  width: 59% !important; }

.w60p {
  width: 60% !important; }

.w61p {
  width: 61% !important; }

.w62p {
  width: 62% !important; }

.w63p {
  width: 63% !important; }

.w64p {
  width: 64% !important; }

.w65p {
  width: 65% !important; }

.w66p {
  width: 66% !important; }

.w67p {
  width: 67% !important; }

.w68p {
  width: 68% !important; }

.w69p {
  width: 69% !important; }

.w70p {
  width: 70% !important; }

.w71p {
  width: 71% !important; }

.w72p {
  width: 72% !important; }

.w73p {
  width: 73% !important; }

.w74p {
  width: 74% !important; }

.w75p {
  width: 75% !important; }

.w76p {
  width: 76% !important; }

.w77p {
  width: 77% !important; }

.w78p {
  width: 78% !important; }

.w79p {
  width: 79% !important; }

.w80p {
  width: 80% !important; }

.w81p {
  width: 81% !important; }

.w82p {
  width: 82% !important; }

.w83p {
  width: 83% !important; }

.w84p {
  width: 84% !important; }

.w85p {
  width: 85% !important; }

.w86p {
  width: 86% !important; }

.w87p {
  width: 87% !important; }

.w88p {
  width: 88% !important; }

.w89p {
  width: 89% !important; }

.w90p {
  width: 90% !important; }

.w91p {
  width: 91% !important; }

.w92p {
  width: 92% !important; }

.w93p {
  width: 93% !important; }

.w94p {
  width: 94% !important; }

.w95p {
  width: 95% !important; }

.w96p {
  width: 96% !important; }

.w97p {
  width: 97% !important; }

.w98p {
  width: 98% !important; }

.w99p {
  width: 99% !important; }

.w100p {
  width: 100% !important; }

.h1p {
  height: 1% !important; }

.h2p {
  height: 2% !important; }

.h3p {
  height: 3% !important; }

.h4p {
  height: 4% !important; }

.h5p {
  height: 5% !important; }

.h6p {
  height: 6% !important; }

.h7p {
  height: 7% !important; }

.h8p {
  height: 8% !important; }

.h9p {
  height: 9% !important; }

.h10p {
  height: 10% !important; }

.h11p {
  height: 11% !important; }

.h12p {
  height: 12% !important; }

.h13p {
  height: 13% !important; }

.h14p {
  height: 14% !important; }

.h15p {
  height: 15% !important; }

.h16p {
  height: 16% !important; }

.h17p {
  height: 17% !important; }

.h18p {
  height: 18% !important; }

.h19p {
  height: 19% !important; }

.h20p {
  height: 20% !important; }

.h21p {
  height: 21% !important; }

.h22p {
  height: 22% !important; }

.h23p {
  height: 23% !important; }

.h24p {
  height: 24% !important; }

.h25p {
  height: 25% !important; }

.h26p {
  height: 26% !important; }

.h27p {
  height: 27% !important; }

.h28p {
  height: 28% !important; }

.h29p {
  height: 29% !important; }

.h30p {
  height: 30% !important; }

.h31p {
  height: 31% !important; }

.h32p {
  height: 32% !important; }

.h33p {
  height: 33% !important; }

.h34p {
  height: 34% !important; }

.h35p {
  height: 35% !important; }

.h36p {
  height: 36% !important; }

.h37p {
  height: 37% !important; }

.h38p {
  height: 38% !important; }

.h39p {
  height: 39% !important; }

.h40p {
  height: 40% !important; }

.h41p {
  height: 41% !important; }

.h42p {
  height: 42% !important; }

.h43p {
  height: 43% !important; }

.h44p {
  height: 44% !important; }

.h45p {
  height: 45% !important; }

.h46p {
  height: 46% !important; }

.h47p {
  height: 47% !important; }

.h48p {
  height: 48% !important; }

.h49p {
  height: 49% !important; }

.h50p {
  height: 50% !important; }

.h51p {
  height: 51% !important; }

.h52p {
  height: 52% !important; }

.h53p {
  height: 53% !important; }

.h54p {
  height: 54% !important; }

.h55p {
  height: 55% !important; }

.h56p {
  height: 56% !important; }

.h57p {
  height: 57% !important; }

.h58p {
  height: 58% !important; }

.h59p {
  height: 59% !important; }

.h60p {
  height: 60% !important; }

.h61p {
  height: 61% !important; }

.h62p {
  height: 62% !important; }

.h63p {
  height: 63% !important; }

.h64p {
  height: 64% !important; }

.h65p {
  height: 65% !important; }

.h66p {
  height: 66% !important; }

.h67p {
  height: 67% !important; }

.h68p {
  height: 68% !important; }

.h69p {
  height: 69% !important; }

.h70p {
  height: 70% !important; }

.h71p {
  height: 71% !important; }

.h72p {
  height: 72% !important; }

.h73p {
  height: 73% !important; }

.h74p {
  height: 74% !important; }

.h75p {
  height: 75% !important; }

.h76p {
  height: 76% !important; }

.h77p {
  height: 77% !important; }

.h78p {
  height: 78% !important; }

.h79p {
  height: 79% !important; }

.h80p {
  height: 80% !important; }

.h81p {
  height: 81% !important; }

.h82p {
  height: 82% !important; }

.h83p {
  height: 83% !important; }

.h84p {
  height: 84% !important; }

.h85p {
  height: 85% !important; }

.h86p {
  height: 86% !important; }

.h87p {
  height: 87% !important; }

.h88p {
  height: 88% !important; }

.h89p {
  height: 89% !important; }

.h90p {
  height: 90% !important; }

.h91p {
  height: 91% !important; }

.h92p {
  height: 92% !important; }

.h93p {
  height: 93% !important; }

.h94p {
  height: 94% !important; }

.h95p {
  height: 95% !important; }

.h96p {
  height: 96% !important; }

.h97p {
  height: 97% !important; }

.h98p {
  height: 98% !important; }

.h99p {
  height: 99% !important; }

.h100p {
  height: 100% !important; }

.w1vw {
  width: 1vw; }

.w2vw {
  width: 2vw; }

.w3vw {
  width: 3vw; }

.w4vw {
  width: 4vw; }

.w5vw {
  width: 5vw; }

.w6vw {
  width: 6vw; }

.w7vw {
  width: 7vw; }

.w8vw {
  width: 8vw; }

.w9vw {
  width: 9vw; }

.w10vw {
  width: 10vw; }

.w11vw {
  width: 11vw; }

.w12vw {
  width: 12vw; }

.w13vw {
  width: 13vw; }

.w14vw {
  width: 14vw; }

.w15vw {
  width: 15vw; }

.w16vw {
  width: 16vw; }

.w17vw {
  width: 17vw; }

.w18vw {
  width: 18vw; }

.w19vw {
  width: 19vw; }

.w20vw {
  width: 20vw; }

.w21vw {
  width: 21vw; }

.w22vw {
  width: 22vw; }

.w23vw {
  width: 23vw; }

.w24vw {
  width: 24vw; }

.w25vw {
  width: 25vw; }

.w26vw {
  width: 26vw; }

.w27vw {
  width: 27vw; }

.w28vw {
  width: 28vw; }

.w29vw {
  width: 29vw; }

.w30vw {
  width: 30vw; }

.w31vw {
  width: 31vw; }

.w32vw {
  width: 32vw; }

.w33vw {
  width: 33vw; }

.w34vw {
  width: 34vw; }

.w35vw {
  width: 35vw; }

.w36vw {
  width: 36vw; }

.w37vw {
  width: 37vw; }

.w38vw {
  width: 38vw; }

.w39vw {
  width: 39vw; }

.w40vw {
  width: 40vw; }

.w41vw {
  width: 41vw; }

.w42vw {
  width: 42vw; }

.w43vw {
  width: 43vw; }

.w44vw {
  width: 44vw; }

.w45vw {
  width: 45vw; }

.w46vw {
  width: 46vw; }

.w47vw {
  width: 47vw; }

.w48vw {
  width: 48vw; }

.w49vw {
  width: 49vw; }

.w50vw {
  width: 50vw; }

.w51vw {
  width: 51vw; }

.w52vw {
  width: 52vw; }

.w53vw {
  width: 53vw; }

.w54vw {
  width: 54vw; }

.w55vw {
  width: 55vw; }

.w56vw {
  width: 56vw; }

.w57vw {
  width: 57vw; }

.w58vw {
  width: 58vw; }

.w59vw {
  width: 59vw; }

.w60vw {
  width: 60vw; }

.w61vw {
  width: 61vw; }

.w62vw {
  width: 62vw; }

.w63vw {
  width: 63vw; }

.w64vw {
  width: 64vw; }

.w65vw {
  width: 65vw; }

.w66vw {
  width: 66vw; }

.w67vw {
  width: 67vw; }

.w68vw {
  width: 68vw; }

.w69vw {
  width: 69vw; }

.w70vw {
  width: 70vw; }

.w71vw {
  width: 71vw; }

.w72vw {
  width: 72vw; }

.w73vw {
  width: 73vw; }

.w74vw {
  width: 74vw; }

.w75vw {
  width: 75vw; }

.w76vw {
  width: 76vw; }

.w77vw {
  width: 77vw; }

.w78vw {
  width: 78vw; }

.w79vw {
  width: 79vw; }

.w80vw {
  width: 80vw; }

.w81vw {
  width: 81vw; }

.w82vw {
  width: 82vw; }

.w83vw {
  width: 83vw; }

.w84vw {
  width: 84vw; }

.w85vw {
  width: 85vw; }

.w86vw {
  width: 86vw; }

.w87vw {
  width: 87vw; }

.w88vw {
  width: 88vw; }

.w89vw {
  width: 89vw; }

.w90vw {
  width: 90vw; }

.w91vw {
  width: 91vw; }

.w92vw {
  width: 92vw; }

.w93vw {
  width: 93vw; }

.w94vw {
  width: 94vw; }

.w95vw {
  width: 95vw; }

.w96vw {
  width: 96vw; }

.w97vw {
  width: 97vw; }

.w98vw {
  width: 98vw; }

.w99vw {
  width: 99vw; }

.w100vw {
  width: 100vw; }

.h1vh {
  height: 1vh; }

.h2vh {
  height: 2vh; }

.h3vh {
  height: 3vh; }

.h4vh {
  height: 4vh; }

.h5vh {
  height: 5vh; }

.h6vh {
  height: 6vh; }

.h7vh {
  height: 7vh; }

.h8vh {
  height: 8vh; }

.h9vh {
  height: 9vh; }

.h10vh {
  height: 10vh; }

.h11vh {
  height: 11vh; }

.h12vh {
  height: 12vh; }

.h13vh {
  height: 13vh; }

.h14vh {
  height: 14vh; }

.h15vh {
  height: 15vh; }

.h16vh {
  height: 16vh; }

.h17vh {
  height: 17vh; }

.h18vh {
  height: 18vh; }

.h19vh {
  height: 19vh; }

.h20vh {
  height: 20vh; }

.h21vh {
  height: 21vh; }

.h22vh {
  height: 22vh; }

.h23vh {
  height: 23vh; }

.h24vh {
  height: 24vh; }

.h25vh {
  height: 25vh; }

.h26vh {
  height: 26vh; }

.h27vh {
  height: 27vh; }

.h28vh {
  height: 28vh; }

.h29vh {
  height: 29vh; }

.h30vh {
  height: 30vh; }

.h31vh {
  height: 31vh; }

.h32vh {
  height: 32vh; }

.h33vh {
  height: 33vh; }

.h34vh {
  height: 34vh; }

.h35vh {
  height: 35vh; }

.h36vh {
  height: 36vh; }

.h37vh {
  height: 37vh; }

.h38vh {
  height: 38vh; }

.h39vh {
  height: 39vh; }

.h40vh {
  height: 40vh; }

.h41vh {
  height: 41vh; }

.h42vh {
  height: 42vh; }

.h43vh {
  height: 43vh; }

.h44vh {
  height: 44vh; }

.h45vh {
  height: 45vh; }

.h46vh {
  height: 46vh; }

.h47vh {
  height: 47vh; }

.h48vh {
  height: 48vh; }

.h49vh {
  height: 49vh; }

.h50vh {
  height: 50vh; }

.h51vh {
  height: 51vh; }

.h52vh {
  height: 52vh; }

.h53vh {
  height: 53vh; }

.h54vh {
  height: 54vh; }

.h55vh {
  height: 55vh; }

.h56vh {
  height: 56vh; }

.h57vh {
  height: 57vh; }

.h58vh {
  height: 58vh; }

.h59vh {
  height: 59vh; }

.h60vh {
  height: 60vh; }

.h61vh {
  height: 61vh; }

.h62vh {
  height: 62vh; }

.h63vh {
  height: 63vh; }

.h64vh {
  height: 64vh; }

.h65vh {
  height: 65vh; }

.h66vh {
  height: 66vh; }

.h67vh {
  height: 67vh; }

.h68vh {
  height: 68vh; }

.h69vh {
  height: 69vh; }

.h70vh {
  height: 70vh; }

.h71vh {
  height: 71vh; }

.h72vh {
  height: 72vh; }

.h73vh {
  height: 73vh; }

.h74vh {
  height: 74vh; }

.h75vh {
  height: 75vh; }

.h76vh {
  height: 76vh; }

.h77vh {
  height: 77vh; }

.h78vh {
  height: 78vh; }

.h79vh {
  height: 79vh; }

.h80vh {
  height: 80vh; }

.h81vh {
  height: 81vh; }

.h82vh {
  height: 82vh; }

.h83vh {
  height: 83vh; }

.h84vh {
  height: 84vh; }

.h85vh {
  height: 85vh; }

.h86vh {
  height: 86vh; }

.h87vh {
  height: 87vh; }

.h88vh {
  height: 88vh; }

.h89vh {
  height: 89vh; }

.h90vh {
  height: 90vh; }

.h91vh {
  height: 91vh; }

.h92vh {
  height: 92vh; }

.h93vh {
  height: 93vh; }

.h94vh {
  height: 94vh; }

.h95vh {
  height: 95vh; }

.h96vh {
  height: 96vh; }

.h97vh {
  height: 97vh; }

.h98vh {
  height: 98vh; }

.h99vh {
  height: 99vh; }

.h100vh {
  height: 100vh; }

.nopadding {
  padding: 0 !important; }

.p-1 {
  padding: 1% !important; }

.p-2 {
  padding: 2% !important; }

.p-3 {
  padding: 3% !important; }

.p-4 {
  padding: 4% !important; }

.p-5 {
  padding: 5% !important; }

.p-6 {
  padding: 6% !important; }

.p-7 {
  padding: 7% !important; }

.p-8 {
  padding: 8% !important; }

.p-9 {
  padding: 9% !important; }

.p-10 {
  padding: 10% !important; }

.p-11 {
  padding: 11% !important; }

.p-12 {
  padding: 12% !important; }

.p-13 {
  padding: 13% !important; }

.p-14 {
  padding: 14% !important; }

.p-15 {
  padding: 15% !important; }

.p-16 {
  padding: 16% !important; }

.p-17 {
  padding: 17% !important; }

.p-18 {
  padding: 18% !important; }

.p-19 {
  padding: 19% !important; }

.p-20 {
  padding: 20% !important; }

.p-21 {
  padding: 21% !important; }

.p-22 {
  padding: 22% !important; }

.p-23 {
  padding: 23% !important; }

.p-24 {
  padding: 24% !important; }

.p-25 {
  padding: 25% !important; }

.p-26 {
  padding: 26% !important; }

.p-27 {
  padding: 27% !important; }

.p-28 {
  padding: 28% !important; }

.p-29 {
  padding: 29% !important; }

.p-30 {
  padding: 30% !important; }

.p-31 {
  padding: 31% !important; }

.p-32 {
  padding: 32% !important; }

.p-33 {
  padding: 33% !important; }

.p-34 {
  padding: 34% !important; }

.p-35 {
  padding: 35% !important; }

.p-36 {
  padding: 36% !important; }

.p-37 {
  padding: 37% !important; }

.p-38 {
  padding: 38% !important; }

.p-39 {
  padding: 39% !important; }

.p-40 {
  padding: 40% !important; }

.p-41 {
  padding: 41% !important; }

.p-42 {
  padding: 42% !important; }

.p-43 {
  padding: 43% !important; }

.p-44 {
  padding: 44% !important; }

.p-45 {
  padding: 45% !important; }

.p-46 {
  padding: 46% !important; }

.p-47 {
  padding: 47% !important; }

.p-48 {
  padding: 48% !important; }

.p-49 {
  padding: 49% !important; }

.p-50 {
  padding: 50% !important; }

.p-51 {
  padding: 51% !important; }

.p-52 {
  padding: 52% !important; }

.p-53 {
  padding: 53% !important; }

.p-54 {
  padding: 54% !important; }

.p-55 {
  padding: 55% !important; }

.p-56 {
  padding: 56% !important; }

.p-57 {
  padding: 57% !important; }

.p-58 {
  padding: 58% !important; }

.p-59 {
  padding: 59% !important; }

.p-60 {
  padding: 60% !important; }

.p-61 {
  padding: 61% !important; }

.p-62 {
  padding: 62% !important; }

.p-63 {
  padding: 63% !important; }

.p-64 {
  padding: 64% !important; }

.p-65 {
  padding: 65% !important; }

.p-66 {
  padding: 66% !important; }

.p-67 {
  padding: 67% !important; }

.p-68 {
  padding: 68% !important; }

.p-69 {
  padding: 69% !important; }

.p-70 {
  padding: 70% !important; }

.p-71 {
  padding: 71% !important; }

.p-72 {
  padding: 72% !important; }

.p-73 {
  padding: 73% !important; }

.p-74 {
  padding: 74% !important; }

.p-75 {
  padding: 75% !important; }

.p-76 {
  padding: 76% !important; }

.p-77 {
  padding: 77% !important; }

.p-78 {
  padding: 78% !important; }

.p-79 {
  padding: 79% !important; }

.p-80 {
  padding: 80% !important; }

.p-81 {
  padding: 81% !important; }

.p-82 {
  padding: 82% !important; }

.p-83 {
  padding: 83% !important; }

.p-84 {
  padding: 84% !important; }

.p-85 {
  padding: 85% !important; }

.p-86 {
  padding: 86% !important; }

.p-87 {
  padding: 87% !important; }

.p-88 {
  padding: 88% !important; }

.p-89 {
  padding: 89% !important; }

.p-90 {
  padding: 90% !important; }

.p-91 {
  padding: 91% !important; }

.p-92 {
  padding: 92% !important; }

.p-93 {
  padding: 93% !important; }

.p-94 {
  padding: 94% !important; }

.p-95 {
  padding: 95% !important; }

.p-96 {
  padding: 96% !important; }

.p-97 {
  padding: 97% !important; }

.p-98 {
  padding: 98% !important; }

.p-99 {
  padding: 99% !important; }

.p-100 {
  padding: 100% !important; }

.pT-1 {
  padding-top: 1%; }

.pT-2 {
  padding-top: 2%; }

.pT-3 {
  padding-top: 3%; }

.pT-4 {
  padding-top: 4%; }

.pT-5 {
  padding-top: 5%; }

.pT-6 {
  padding-top: 6%; }

.pT-7 {
  padding-top: 7%; }

.pT-8 {
  padding-top: 8%; }

.pT-9 {
  padding-top: 9%; }

.pT-10 {
  padding-top: 10%; }

.pT-11 {
  padding-top: 11%; }

.pT-12 {
  padding-top: 12%; }

.pT-13 {
  padding-top: 13%; }

.pT-14 {
  padding-top: 14%; }

.pT-15 {
  padding-top: 15%; }

.pT-16 {
  padding-top: 16%; }

.pT-17 {
  padding-top: 17%; }

.pT-18 {
  padding-top: 18%; }

.pT-19 {
  padding-top: 19%; }

.pT-20 {
  padding-top: 20%; }

.pT-21 {
  padding-top: 21%; }

.pT-22 {
  padding-top: 22%; }

.pT-23 {
  padding-top: 23%; }

.pT-24 {
  padding-top: 24%; }

.pT-25 {
  padding-top: 25%; }

.pT-26 {
  padding-top: 26%; }

.pT-27 {
  padding-top: 27%; }

.pT-28 {
  padding-top: 28%; }

.pT-29 {
  padding-top: 29%; }

.pT-30 {
  padding-top: 30%; }

.pT-31 {
  padding-top: 31%; }

.pT-32 {
  padding-top: 32%; }

.pT-33 {
  padding-top: 33%; }

.pT-34 {
  padding-top: 34%; }

.pT-35 {
  padding-top: 35%; }

.pT-36 {
  padding-top: 36%; }

.pT-37 {
  padding-top: 37%; }

.pT-38 {
  padding-top: 38%; }

.pT-39 {
  padding-top: 39%; }

.pT-40 {
  padding-top: 40%; }

.pT-41 {
  padding-top: 41%; }

.pT-42 {
  padding-top: 42%; }

.pT-43 {
  padding-top: 43%; }

.pT-44 {
  padding-top: 44%; }

.pT-45 {
  padding-top: 45%; }

.pT-46 {
  padding-top: 46%; }

.pT-47 {
  padding-top: 47%; }

.pT-48 {
  padding-top: 48%; }

.pT-49 {
  padding-top: 49%; }

.pT-50 {
  padding-top: 50%; }

.pT-51 {
  padding-top: 51%; }

.pT-52 {
  padding-top: 52%; }

.pT-53 {
  padding-top: 53%; }

.pT-54 {
  padding-top: 54%; }

.pT-55 {
  padding-top: 55%; }

.pT-56 {
  padding-top: 56%; }

.pT-57 {
  padding-top: 57%; }

.pT-58 {
  padding-top: 58%; }

.pT-59 {
  padding-top: 59%; }

.pT-60 {
  padding-top: 60%; }

.pT-61 {
  padding-top: 61%; }

.pT-62 {
  padding-top: 62%; }

.pT-63 {
  padding-top: 63%; }

.pT-64 {
  padding-top: 64%; }

.pT-65 {
  padding-top: 65%; }

.pT-66 {
  padding-top: 66%; }

.pT-67 {
  padding-top: 67%; }

.pT-68 {
  padding-top: 68%; }

.pT-69 {
  padding-top: 69%; }

.pT-70 {
  padding-top: 70%; }

.pT-71 {
  padding-top: 71%; }

.pT-72 {
  padding-top: 72%; }

.pT-73 {
  padding-top: 73%; }

.pT-74 {
  padding-top: 74%; }

.pT-75 {
  padding-top: 75%; }

.pT-76 {
  padding-top: 76%; }

.pT-77 {
  padding-top: 77%; }

.pT-78 {
  padding-top: 78%; }

.pT-79 {
  padding-top: 79%; }

.pT-80 {
  padding-top: 80%; }

.pT-81 {
  padding-top: 81%; }

.pT-82 {
  padding-top: 82%; }

.pT-83 {
  padding-top: 83%; }

.pT-84 {
  padding-top: 84%; }

.pT-85 {
  padding-top: 85%; }

.pT-86 {
  padding-top: 86%; }

.pT-87 {
  padding-top: 87%; }

.pT-88 {
  padding-top: 88%; }

.pT-89 {
  padding-top: 89%; }

.pT-90 {
  padding-top: 90%; }

.pT-91 {
  padding-top: 91%; }

.pT-92 {
  padding-top: 92%; }

.pT-93 {
  padding-top: 93%; }

.pT-94 {
  padding-top: 94%; }

.pT-95 {
  padding-top: 95%; }

.pT-96 {
  padding-top: 96%; }

.pT-97 {
  padding-top: 97%; }

.pT-98 {
  padding-top: 98%; }

.pT-99 {
  padding-top: 99%; }

.pT-100 {
  padding-top: 100%; }

.pB-1 {
  padding-bottom: 1%; }

.pB-2 {
  padding-bottom: 2%; }

.pB-3 {
  padding-bottom: 3%; }

.pB-4 {
  padding-bottom: 4%; }

.pB-5 {
  padding-bottom: 5%; }

.pB-6 {
  padding-bottom: 6%; }

.pB-7 {
  padding-bottom: 7%; }

.pB-8 {
  padding-bottom: 8%; }

.pB-9 {
  padding-bottom: 9%; }

.pB-10 {
  padding-bottom: 10%; }

.pB-11 {
  padding-bottom: 11%; }

.pB-12 {
  padding-bottom: 12%; }

.pB-13 {
  padding-bottom: 13%; }

.pB-14 {
  padding-bottom: 14%; }

.pB-15 {
  padding-bottom: 15%; }

.pB-16 {
  padding-bottom: 16%; }

.pB-17 {
  padding-bottom: 17%; }

.pB-18 {
  padding-bottom: 18%; }

.pB-19 {
  padding-bottom: 19%; }

.pB-20 {
  padding-bottom: 20%; }

.pB-21 {
  padding-bottom: 21%; }

.pB-22 {
  padding-bottom: 22%; }

.pB-23 {
  padding-bottom: 23%; }

.pB-24 {
  padding-bottom: 24%; }

.pB-25 {
  padding-bottom: 25%; }

.pB-26 {
  padding-bottom: 26%; }

.pB-27 {
  padding-bottom: 27%; }

.pB-28 {
  padding-bottom: 28%; }

.pB-29 {
  padding-bottom: 29%; }

.pB-30 {
  padding-bottom: 30%; }

.pB-31 {
  padding-bottom: 31%; }

.pB-32 {
  padding-bottom: 32%; }

.pB-33 {
  padding-bottom: 33%; }

.pB-34 {
  padding-bottom: 34%; }

.pB-35 {
  padding-bottom: 35%; }

.pB-36 {
  padding-bottom: 36%; }

.pB-37 {
  padding-bottom: 37%; }

.pB-38 {
  padding-bottom: 38%; }

.pB-39 {
  padding-bottom: 39%; }

.pB-40 {
  padding-bottom: 40%; }

.pB-41 {
  padding-bottom: 41%; }

.pB-42 {
  padding-bottom: 42%; }

.pB-43 {
  padding-bottom: 43%; }

.pB-44 {
  padding-bottom: 44%; }

.pB-45 {
  padding-bottom: 45%; }

.pB-46 {
  padding-bottom: 46%; }

.pB-47 {
  padding-bottom: 47%; }

.pB-48 {
  padding-bottom: 48%; }

.pB-49 {
  padding-bottom: 49%; }

.pB-50 {
  padding-bottom: 50%; }

.pB-51 {
  padding-bottom: 51%; }

.pB-52 {
  padding-bottom: 52%; }

.pB-53 {
  padding-bottom: 53%; }

.pB-54 {
  padding-bottom: 54%; }

.pB-55 {
  padding-bottom: 55%; }

.pB-56 {
  padding-bottom: 56%; }

.pB-57 {
  padding-bottom: 57%; }

.pB-58 {
  padding-bottom: 58%; }

.pB-59 {
  padding-bottom: 59%; }

.pB-60 {
  padding-bottom: 60%; }

.pB-61 {
  padding-bottom: 61%; }

.pB-62 {
  padding-bottom: 62%; }

.pB-63 {
  padding-bottom: 63%; }

.pB-64 {
  padding-bottom: 64%; }

.pB-65 {
  padding-bottom: 65%; }

.pB-66 {
  padding-bottom: 66%; }

.pB-67 {
  padding-bottom: 67%; }

.pB-68 {
  padding-bottom: 68%; }

.pB-69 {
  padding-bottom: 69%; }

.pB-70 {
  padding-bottom: 70%; }

.pB-71 {
  padding-bottom: 71%; }

.pB-72 {
  padding-bottom: 72%; }

.pB-73 {
  padding-bottom: 73%; }

.pB-74 {
  padding-bottom: 74%; }

.pB-75 {
  padding-bottom: 75%; }

.pB-76 {
  padding-bottom: 76%; }

.pB-77 {
  padding-bottom: 77%; }

.pB-78 {
  padding-bottom: 78%; }

.pB-79 {
  padding-bottom: 79%; }

.pB-80 {
  padding-bottom: 80%; }

.pB-81 {
  padding-bottom: 81%; }

.pB-82 {
  padding-bottom: 82%; }

.pB-83 {
  padding-bottom: 83%; }

.pB-84 {
  padding-bottom: 84%; }

.pB-85 {
  padding-bottom: 85%; }

.pB-86 {
  padding-bottom: 86%; }

.pB-87 {
  padding-bottom: 87%; }

.pB-88 {
  padding-bottom: 88%; }

.pB-89 {
  padding-bottom: 89%; }

.pB-90 {
  padding-bottom: 90%; }

.pB-91 {
  padding-bottom: 91%; }

.pB-92 {
  padding-bottom: 92%; }

.pB-93 {
  padding-bottom: 93%; }

.pB-94 {
  padding-bottom: 94%; }

.pB-95 {
  padding-bottom: 95%; }

.pB-96 {
  padding-bottom: 96%; }

.pB-97 {
  padding-bottom: 97%; }

.pB-98 {
  padding-bottom: 98%; }

.pB-99 {
  padding-bottom: 99%; }

.pB-100 {
  padding-bottom: 100%; }

.pL-1 {
  padding-left: 1%; }

.pL-2 {
  padding-left: 2%; }

.pL-3 {
  padding-left: 3%; }

.pL-4 {
  padding-left: 4%; }

.pL-5 {
  padding-left: 5%; }

.pL-6 {
  padding-left: 6%; }

.pL-7 {
  padding-left: 7%; }

.pL-8 {
  padding-left: 8%; }

.pL-9 {
  padding-left: 9%; }

.pL-10 {
  padding-left: 10%; }

.pL-11 {
  padding-left: 11%; }

.pL-12 {
  padding-left: 12%; }

.pL-13 {
  padding-left: 13%; }

.pL-14 {
  padding-left: 14%; }

.pL-15 {
  padding-left: 15%; }

.pL-16 {
  padding-left: 16%; }

.pL-17 {
  padding-left: 17%; }

.pL-18 {
  padding-left: 18%; }

.pL-19 {
  padding-left: 19%; }

.pL-20 {
  padding-left: 20%; }

.pL-21 {
  padding-left: 21%; }

.pL-22 {
  padding-left: 22%; }

.pL-23 {
  padding-left: 23%; }

.pL-24 {
  padding-left: 24%; }

.pL-25 {
  padding-left: 25%; }

.pL-26 {
  padding-left: 26%; }

.pL-27 {
  padding-left: 27%; }

.pL-28 {
  padding-left: 28%; }

.pL-29 {
  padding-left: 29%; }

.pL-30 {
  padding-left: 30%; }

.pL-31 {
  padding-left: 31%; }

.pL-32 {
  padding-left: 32%; }

.pL-33 {
  padding-left: 33%; }

.pL-34 {
  padding-left: 34%; }

.pL-35 {
  padding-left: 35%; }

.pL-36 {
  padding-left: 36%; }

.pL-37 {
  padding-left: 37%; }

.pL-38 {
  padding-left: 38%; }

.pL-39 {
  padding-left: 39%; }

.pL-40 {
  padding-left: 40%; }

.pL-41 {
  padding-left: 41%; }

.pL-42 {
  padding-left: 42%; }

.pL-43 {
  padding-left: 43%; }

.pL-44 {
  padding-left: 44%; }

.pL-45 {
  padding-left: 45%; }

.pL-46 {
  padding-left: 46%; }

.pL-47 {
  padding-left: 47%; }

.pL-48 {
  padding-left: 48%; }

.pL-49 {
  padding-left: 49%; }

.pL-50 {
  padding-left: 50%; }

.pL-51 {
  padding-left: 51%; }

.pL-52 {
  padding-left: 52%; }

.pL-53 {
  padding-left: 53%; }

.pL-54 {
  padding-left: 54%; }

.pL-55 {
  padding-left: 55%; }

.pL-56 {
  padding-left: 56%; }

.pL-57 {
  padding-left: 57%; }

.pL-58 {
  padding-left: 58%; }

.pL-59 {
  padding-left: 59%; }

.pL-60 {
  padding-left: 60%; }

.pL-61 {
  padding-left: 61%; }

.pL-62 {
  padding-left: 62%; }

.pL-63 {
  padding-left: 63%; }

.pL-64 {
  padding-left: 64%; }

.pL-65 {
  padding-left: 65%; }

.pL-66 {
  padding-left: 66%; }

.pL-67 {
  padding-left: 67%; }

.pL-68 {
  padding-left: 68%; }

.pL-69 {
  padding-left: 69%; }

.pL-70 {
  padding-left: 70%; }

.pL-71 {
  padding-left: 71%; }

.pL-72 {
  padding-left: 72%; }

.pL-73 {
  padding-left: 73%; }

.pL-74 {
  padding-left: 74%; }

.pL-75 {
  padding-left: 75%; }

.pL-76 {
  padding-left: 76%; }

.pL-77 {
  padding-left: 77%; }

.pL-78 {
  padding-left: 78%; }

.pL-79 {
  padding-left: 79%; }

.pL-80 {
  padding-left: 80%; }

.pL-81 {
  padding-left: 81%; }

.pL-82 {
  padding-left: 82%; }

.pL-83 {
  padding-left: 83%; }

.pL-84 {
  padding-left: 84%; }

.pL-85 {
  padding-left: 85%; }

.pL-86 {
  padding-left: 86%; }

.pL-87 {
  padding-left: 87%; }

.pL-88 {
  padding-left: 88%; }

.pL-89 {
  padding-left: 89%; }

.pL-90 {
  padding-left: 90%; }

.pL-91 {
  padding-left: 91%; }

.pL-92 {
  padding-left: 92%; }

.pL-93 {
  padding-left: 93%; }

.pL-94 {
  padding-left: 94%; }

.pL-95 {
  padding-left: 95%; }

.pL-96 {
  padding-left: 96%; }

.pL-97 {
  padding-left: 97%; }

.pL-98 {
  padding-left: 98%; }

.pL-99 {
  padding-left: 99%; }

.pL-100 {
  padding-left: 100%; }

.pR-1 {
  padding-right: 1%; }

.pR-2 {
  padding-right: 2%; }

.pR-3 {
  padding-right: 3%; }

.pR-4 {
  padding-right: 4%; }

.pR-5 {
  padding-right: 5%; }

.pR-6 {
  padding-right: 6%; }

.pR-7 {
  padding-right: 7%; }

.pR-8 {
  padding-right: 8%; }

.pR-9 {
  padding-right: 9%; }

.pR-10 {
  padding-right: 10%; }

.pR-11 {
  padding-right: 11%; }

.pR-12 {
  padding-right: 12%; }

.pR-13 {
  padding-right: 13%; }

.pR-14 {
  padding-right: 14%; }

.pR-15 {
  padding-right: 15%; }

.pR-16 {
  padding-right: 16%; }

.pR-17 {
  padding-right: 17%; }

.pR-18 {
  padding-right: 18%; }

.pR-19 {
  padding-right: 19%; }

.pR-20 {
  padding-right: 20%; }

.pR-21 {
  padding-right: 21%; }

.pR-22 {
  padding-right: 22%; }

.pR-23 {
  padding-right: 23%; }

.pR-24 {
  padding-right: 24%; }

.pR-25 {
  padding-right: 25%; }

.pR-26 {
  padding-right: 26%; }

.pR-27 {
  padding-right: 27%; }

.pR-28 {
  padding-right: 28%; }

.pR-29 {
  padding-right: 29%; }

.pR-30 {
  padding-right: 30%; }

.pR-31 {
  padding-right: 31%; }

.pR-32 {
  padding-right: 32%; }

.pR-33 {
  padding-right: 33%; }

.pR-34 {
  padding-right: 34%; }

.pR-35 {
  padding-right: 35%; }

.pR-36 {
  padding-right: 36%; }

.pR-37 {
  padding-right: 37%; }

.pR-38 {
  padding-right: 38%; }

.pR-39 {
  padding-right: 39%; }

.pR-40 {
  padding-right: 40%; }

.pR-41 {
  padding-right: 41%; }

.pR-42 {
  padding-right: 42%; }

.pR-43 {
  padding-right: 43%; }

.pR-44 {
  padding-right: 44%; }

.pR-45 {
  padding-right: 45%; }

.pR-46 {
  padding-right: 46%; }

.pR-47 {
  padding-right: 47%; }

.pR-48 {
  padding-right: 48%; }

.pR-49 {
  padding-right: 49%; }

.pR-50 {
  padding-right: 50%; }

.pR-51 {
  padding-right: 51%; }

.pR-52 {
  padding-right: 52%; }

.pR-53 {
  padding-right: 53%; }

.pR-54 {
  padding-right: 54%; }

.pR-55 {
  padding-right: 55%; }

.pR-56 {
  padding-right: 56%; }

.pR-57 {
  padding-right: 57%; }

.pR-58 {
  padding-right: 58%; }

.pR-59 {
  padding-right: 59%; }

.pR-60 {
  padding-right: 60%; }

.pR-61 {
  padding-right: 61%; }

.pR-62 {
  padding-right: 62%; }

.pR-63 {
  padding-right: 63%; }

.pR-64 {
  padding-right: 64%; }

.pR-65 {
  padding-right: 65%; }

.pR-66 {
  padding-right: 66%; }

.pR-67 {
  padding-right: 67%; }

.pR-68 {
  padding-right: 68%; }

.pR-69 {
  padding-right: 69%; }

.pR-70 {
  padding-right: 70%; }

.pR-71 {
  padding-right: 71%; }

.pR-72 {
  padding-right: 72%; }

.pR-73 {
  padding-right: 73%; }

.pR-74 {
  padding-right: 74%; }

.pR-75 {
  padding-right: 75%; }

.pR-76 {
  padding-right: 76%; }

.pR-77 {
  padding-right: 77%; }

.pR-78 {
  padding-right: 78%; }

.pR-79 {
  padding-right: 79%; }

.pR-80 {
  padding-right: 80%; }

.pR-81 {
  padding-right: 81%; }

.pR-82 {
  padding-right: 82%; }

.pR-83 {
  padding-right: 83%; }

.pR-84 {
  padding-right: 84%; }

.pR-85 {
  padding-right: 85%; }

.pR-86 {
  padding-right: 86%; }

.pR-87 {
  padding-right: 87%; }

.pR-88 {
  padding-right: 88%; }

.pR-89 {
  padding-right: 89%; }

.pR-90 {
  padding-right: 90%; }

.pR-91 {
  padding-right: 91%; }

.pR-92 {
  padding-right: 92%; }

.pR-93 {
  padding-right: 93%; }

.pR-94 {
  padding-right: 94%; }

.pR-95 {
  padding-right: 95%; }

.pR-96 {
  padding-right: 96%; }

.pR-97 {
  padding-right: 97%; }

.pR-98 {
  padding-right: 98%; }

.pR-99 {
  padding-right: 99%; }

.pR-100 {
  padding-right: 100%; }

.nomargin {
  margin: 0 !important; }

.m-1 {
  margin: 1%; }

.m-2 {
  margin: 2%; }

.m-3 {
  margin: 3%; }

.m-4 {
  margin: 4%; }

.m-5 {
  margin: 5%; }

.m-6 {
  margin: 6%; }

.m-7 {
  margin: 7%; }

.m-8 {
  margin: 8%; }

.m-9 {
  margin: 9%; }

.m-10 {
  margin: 10%; }

.m-11 {
  margin: 11%; }

.m-12 {
  margin: 12%; }

.m-13 {
  margin: 13%; }

.m-14 {
  margin: 14%; }

.m-15 {
  margin: 15%; }

.m-16 {
  margin: 16%; }

.m-17 {
  margin: 17%; }

.m-18 {
  margin: 18%; }

.m-19 {
  margin: 19%; }

.m-20 {
  margin: 20%; }

.m-21 {
  margin: 21%; }

.m-22 {
  margin: 22%; }

.m-23 {
  margin: 23%; }

.m-24 {
  margin: 24%; }

.m-25 {
  margin: 25%; }

.m-26 {
  margin: 26%; }

.m-27 {
  margin: 27%; }

.m-28 {
  margin: 28%; }

.m-29 {
  margin: 29%; }

.m-30 {
  margin: 30%; }

.m-31 {
  margin: 31%; }

.m-32 {
  margin: 32%; }

.m-33 {
  margin: 33%; }

.m-34 {
  margin: 34%; }

.m-35 {
  margin: 35%; }

.m-36 {
  margin: 36%; }

.m-37 {
  margin: 37%; }

.m-38 {
  margin: 38%; }

.m-39 {
  margin: 39%; }

.m-40 {
  margin: 40%; }

.m-41 {
  margin: 41%; }

.m-42 {
  margin: 42%; }

.m-43 {
  margin: 43%; }

.m-44 {
  margin: 44%; }

.m-45 {
  margin: 45%; }

.m-46 {
  margin: 46%; }

.m-47 {
  margin: 47%; }

.m-48 {
  margin: 48%; }

.m-49 {
  margin: 49%; }

.m-50 {
  margin: 50%; }

.m-51 {
  margin: 51%; }

.m-52 {
  margin: 52%; }

.m-53 {
  margin: 53%; }

.m-54 {
  margin: 54%; }

.m-55 {
  margin: 55%; }

.m-56 {
  margin: 56%; }

.m-57 {
  margin: 57%; }

.m-58 {
  margin: 58%; }

.m-59 {
  margin: 59%; }

.m-60 {
  margin: 60%; }

.m-61 {
  margin: 61%; }

.m-62 {
  margin: 62%; }

.m-63 {
  margin: 63%; }

.m-64 {
  margin: 64%; }

.m-65 {
  margin: 65%; }

.m-66 {
  margin: 66%; }

.m-67 {
  margin: 67%; }

.m-68 {
  margin: 68%; }

.m-69 {
  margin: 69%; }

.m-70 {
  margin: 70%; }

.m-71 {
  margin: 71%; }

.m-72 {
  margin: 72%; }

.m-73 {
  margin: 73%; }

.m-74 {
  margin: 74%; }

.m-75 {
  margin: 75%; }

.m-76 {
  margin: 76%; }

.m-77 {
  margin: 77%; }

.m-78 {
  margin: 78%; }

.m-79 {
  margin: 79%; }

.m-80 {
  margin: 80%; }

.m-81 {
  margin: 81%; }

.m-82 {
  margin: 82%; }

.m-83 {
  margin: 83%; }

.m-84 {
  margin: 84%; }

.m-85 {
  margin: 85%; }

.m-86 {
  margin: 86%; }

.m-87 {
  margin: 87%; }

.m-88 {
  margin: 88%; }

.m-89 {
  margin: 89%; }

.m-90 {
  margin: 90%; }

.m-91 {
  margin: 91%; }

.m-92 {
  margin: 92%; }

.m-93 {
  margin: 93%; }

.m-94 {
  margin: 94%; }

.m-95 {
  margin: 95%; }

.m-96 {
  margin: 96%; }

.m-97 {
  margin: 97%; }

.m-98 {
  margin: 98%; }

.m-99 {
  margin: 99%; }

.m-100 {
  margin: 100%; }

.mT-1 {
  margin-top: 1%; }

.mT-2 {
  margin-top: 2%; }

.mT-3 {
  margin-top: 3%; }

.mT-4 {
  margin-top: 4%; }

.mT-5 {
  margin-top: 5%; }

.mT-6 {
  margin-top: 6%; }

.mT-7 {
  margin-top: 7%; }

.mT-8 {
  margin-top: 8%; }

.mT-9 {
  margin-top: 9%; }

.mT-10 {
  margin-top: 10%; }

.mT-11 {
  margin-top: 11%; }

.mT-12 {
  margin-top: 12%; }

.mT-13 {
  margin-top: 13%; }

.mT-14 {
  margin-top: 14%; }

.mT-15 {
  margin-top: 15%; }

.mT-16 {
  margin-top: 16%; }

.mT-17 {
  margin-top: 17%; }

.mT-18 {
  margin-top: 18%; }

.mT-19 {
  margin-top: 19%; }

.mT-20 {
  margin-top: 20%; }

.mT-21 {
  margin-top: 21%; }

.mT-22 {
  margin-top: 22%; }

.mT-23 {
  margin-top: 23%; }

.mT-24 {
  margin-top: 24%; }

.mT-25 {
  margin-top: 25%; }

.mT-26 {
  margin-top: 26%; }

.mT-27 {
  margin-top: 27%; }

.mT-28 {
  margin-top: 28%; }

.mT-29 {
  margin-top: 29%; }

.mT-30 {
  margin-top: 30%; }

.mT-31 {
  margin-top: 31%; }

.mT-32 {
  margin-top: 32%; }

.mT-33 {
  margin-top: 33%; }

.mT-34 {
  margin-top: 34%; }

.mT-35 {
  margin-top: 35%; }

.mT-36 {
  margin-top: 36%; }

.mT-37 {
  margin-top: 37%; }

.mT-38 {
  margin-top: 38%; }

.mT-39 {
  margin-top: 39%; }

.mT-40 {
  margin-top: 40%; }

.mT-41 {
  margin-top: 41%; }

.mT-42 {
  margin-top: 42%; }

.mT-43 {
  margin-top: 43%; }

.mT-44 {
  margin-top: 44%; }

.mT-45 {
  margin-top: 45%; }

.mT-46 {
  margin-top: 46%; }

.mT-47 {
  margin-top: 47%; }

.mT-48 {
  margin-top: 48%; }

.mT-49 {
  margin-top: 49%; }

.mT-50 {
  margin-top: 50%; }

.mT-51 {
  margin-top: 51%; }

.mT-52 {
  margin-top: 52%; }

.mT-53 {
  margin-top: 53%; }

.mT-54 {
  margin-top: 54%; }

.mT-55 {
  margin-top: 55%; }

.mT-56 {
  margin-top: 56%; }

.mT-57 {
  margin-top: 57%; }

.mT-58 {
  margin-top: 58%; }

.mT-59 {
  margin-top: 59%; }

.mT-60 {
  margin-top: 60%; }

.mT-61 {
  margin-top: 61%; }

.mT-62 {
  margin-top: 62%; }

.mT-63 {
  margin-top: 63%; }

.mT-64 {
  margin-top: 64%; }

.mT-65 {
  margin-top: 65%; }

.mT-66 {
  margin-top: 66%; }

.mT-67 {
  margin-top: 67%; }

.mT-68 {
  margin-top: 68%; }

.mT-69 {
  margin-top: 69%; }

.mT-70 {
  margin-top: 70%; }

.mT-71 {
  margin-top: 71%; }

.mT-72 {
  margin-top: 72%; }

.mT-73 {
  margin-top: 73%; }

.mT-74 {
  margin-top: 74%; }

.mT-75 {
  margin-top: 75%; }

.mT-76 {
  margin-top: 76%; }

.mT-77 {
  margin-top: 77%; }

.mT-78 {
  margin-top: 78%; }

.mT-79 {
  margin-top: 79%; }

.mT-80 {
  margin-top: 80%; }

.mT-81 {
  margin-top: 81%; }

.mT-82 {
  margin-top: 82%; }

.mT-83 {
  margin-top: 83%; }

.mT-84 {
  margin-top: 84%; }

.mT-85 {
  margin-top: 85%; }

.mT-86 {
  margin-top: 86%; }

.mT-87 {
  margin-top: 87%; }

.mT-88 {
  margin-top: 88%; }

.mT-89 {
  margin-top: 89%; }

.mT-90 {
  margin-top: 90%; }

.mT-91 {
  margin-top: 91%; }

.mT-92 {
  margin-top: 92%; }

.mT-93 {
  margin-top: 93%; }

.mT-94 {
  margin-top: 94%; }

.mT-95 {
  margin-top: 95%; }

.mT-96 {
  margin-top: 96%; }

.mT-97 {
  margin-top: 97%; }

.mT-98 {
  margin-top: 98%; }

.mT-99 {
  margin-top: 99%; }

.mT-100 {
  margin-top: 100%; }

.mB-1 {
  margin-bottom: 1%; }

.mB-2 {
  margin-bottom: 2%; }

.mB-3 {
  margin-bottom: 3%; }

.mB-4 {
  margin-bottom: 4%; }

.mB-5 {
  margin-bottom: 5%; }

.mB-6 {
  margin-bottom: 6%; }

.mB-7 {
  margin-bottom: 7%; }

.mB-8 {
  margin-bottom: 8%; }

.mB-9 {
  margin-bottom: 9%; }

.mB-10 {
  margin-bottom: 10%; }

.mB-11 {
  margin-bottom: 11%; }

.mB-12 {
  margin-bottom: 12%; }

.mB-13 {
  margin-bottom: 13%; }

.mB-14 {
  margin-bottom: 14%; }

.mB-15 {
  margin-bottom: 15%; }

.mB-16 {
  margin-bottom: 16%; }

.mB-17 {
  margin-bottom: 17%; }

.mB-18 {
  margin-bottom: 18%; }

.mB-19 {
  margin-bottom: 19%; }

.mB-20 {
  margin-bottom: 20%; }

.mB-21 {
  margin-bottom: 21%; }

.mB-22 {
  margin-bottom: 22%; }

.mB-23 {
  margin-bottom: 23%; }

.mB-24 {
  margin-bottom: 24%; }

.mB-25 {
  margin-bottom: 25%; }

.mB-26 {
  margin-bottom: 26%; }

.mB-27 {
  margin-bottom: 27%; }

.mB-28 {
  margin-bottom: 28%; }

.mB-29 {
  margin-bottom: 29%; }

.mB-30 {
  margin-bottom: 30%; }

.mB-31 {
  margin-bottom: 31%; }

.mB-32 {
  margin-bottom: 32%; }

.mB-33 {
  margin-bottom: 33%; }

.mB-34 {
  margin-bottom: 34%; }

.mB-35 {
  margin-bottom: 35%; }

.mB-36 {
  margin-bottom: 36%; }

.mB-37 {
  margin-bottom: 37%; }

.mB-38 {
  margin-bottom: 38%; }

.mB-39 {
  margin-bottom: 39%; }

.mB-40 {
  margin-bottom: 40%; }

.mB-41 {
  margin-bottom: 41%; }

.mB-42 {
  margin-bottom: 42%; }

.mB-43 {
  margin-bottom: 43%; }

.mB-44 {
  margin-bottom: 44%; }

.mB-45 {
  margin-bottom: 45%; }

.mB-46 {
  margin-bottom: 46%; }

.mB-47 {
  margin-bottom: 47%; }

.mB-48 {
  margin-bottom: 48%; }

.mB-49 {
  margin-bottom: 49%; }

.mB-50 {
  margin-bottom: 50%; }

.mB-51 {
  margin-bottom: 51%; }

.mB-52 {
  margin-bottom: 52%; }

.mB-53 {
  margin-bottom: 53%; }

.mB-54 {
  margin-bottom: 54%; }

.mB-55 {
  margin-bottom: 55%; }

.mB-56 {
  margin-bottom: 56%; }

.mB-57 {
  margin-bottom: 57%; }

.mB-58 {
  margin-bottom: 58%; }

.mB-59 {
  margin-bottom: 59%; }

.mB-60 {
  margin-bottom: 60%; }

.mB-61 {
  margin-bottom: 61%; }

.mB-62 {
  margin-bottom: 62%; }

.mB-63 {
  margin-bottom: 63%; }

.mB-64 {
  margin-bottom: 64%; }

.mB-65 {
  margin-bottom: 65%; }

.mB-66 {
  margin-bottom: 66%; }

.mB-67 {
  margin-bottom: 67%; }

.mB-68 {
  margin-bottom: 68%; }

.mB-69 {
  margin-bottom: 69%; }

.mB-70 {
  margin-bottom: 70%; }

.mB-71 {
  margin-bottom: 71%; }

.mB-72 {
  margin-bottom: 72%; }

.mB-73 {
  margin-bottom: 73%; }

.mB-74 {
  margin-bottom: 74%; }

.mB-75 {
  margin-bottom: 75%; }

.mB-76 {
  margin-bottom: 76%; }

.mB-77 {
  margin-bottom: 77%; }

.mB-78 {
  margin-bottom: 78%; }

.mB-79 {
  margin-bottom: 79%; }

.mB-80 {
  margin-bottom: 80%; }

.mB-81 {
  margin-bottom: 81%; }

.mB-82 {
  margin-bottom: 82%; }

.mB-83 {
  margin-bottom: 83%; }

.mB-84 {
  margin-bottom: 84%; }

.mB-85 {
  margin-bottom: 85%; }

.mB-86 {
  margin-bottom: 86%; }

.mB-87 {
  margin-bottom: 87%; }

.mB-88 {
  margin-bottom: 88%; }

.mB-89 {
  margin-bottom: 89%; }

.mB-90 {
  margin-bottom: 90%; }

.mB-91 {
  margin-bottom: 91%; }

.mB-92 {
  margin-bottom: 92%; }

.mB-93 {
  margin-bottom: 93%; }

.mB-94 {
  margin-bottom: 94%; }

.mB-95 {
  margin-bottom: 95%; }

.mB-96 {
  margin-bottom: 96%; }

.mB-97 {
  margin-bottom: 97%; }

.mB-98 {
  margin-bottom: 98%; }

.mB-99 {
  margin-bottom: 99%; }

.mB-100 {
  margin-bottom: 100%; }

.mR-1 {
  margin-right: 1%; }

.mR-2 {
  margin-right: 2%; }

.mR-3 {
  margin-right: 3%; }

.mR-4 {
  margin-right: 4%; }

.mR-5 {
  margin-right: 5%; }

.mR-6 {
  margin-right: 6%; }

.mR-7 {
  margin-right: 7%; }

.mR-8 {
  margin-right: 8%; }

.mR-9 {
  margin-right: 9%; }

.mR-10 {
  margin-right: 10%; }

.mR-11 {
  margin-right: 11%; }

.mR-12 {
  margin-right: 12%; }

.mR-13 {
  margin-right: 13%; }

.mR-14 {
  margin-right: 14%; }

.mR-15 {
  margin-right: 15%; }

.mR-16 {
  margin-right: 16%; }

.mR-17 {
  margin-right: 17%; }

.mR-18 {
  margin-right: 18%; }

.mR-19 {
  margin-right: 19%; }

.mR-20 {
  margin-right: 20%; }

.mR-21 {
  margin-right: 21%; }

.mR-22 {
  margin-right: 22%; }

.mR-23 {
  margin-right: 23%; }

.mR-24 {
  margin-right: 24%; }

.mR-25 {
  margin-right: 25%; }

.mR-26 {
  margin-right: 26%; }

.mR-27 {
  margin-right: 27%; }

.mR-28 {
  margin-right: 28%; }

.mR-29 {
  margin-right: 29%; }

.mR-30 {
  margin-right: 30%; }

.mR-31 {
  margin-right: 31%; }

.mR-32 {
  margin-right: 32%; }

.mR-33 {
  margin-right: 33%; }

.mR-34 {
  margin-right: 34%; }

.mR-35 {
  margin-right: 35%; }

.mR-36 {
  margin-right: 36%; }

.mR-37 {
  margin-right: 37%; }

.mR-38 {
  margin-right: 38%; }

.mR-39 {
  margin-right: 39%; }

.mR-40 {
  margin-right: 40%; }

.mR-41 {
  margin-right: 41%; }

.mR-42 {
  margin-right: 42%; }

.mR-43 {
  margin-right: 43%; }

.mR-44 {
  margin-right: 44%; }

.mR-45 {
  margin-right: 45%; }

.mR-46 {
  margin-right: 46%; }

.mR-47 {
  margin-right: 47%; }

.mR-48 {
  margin-right: 48%; }

.mR-49 {
  margin-right: 49%; }

.mR-50 {
  margin-right: 50%; }

.mR-51 {
  margin-right: 51%; }

.mR-52 {
  margin-right: 52%; }

.mR-53 {
  margin-right: 53%; }

.mR-54 {
  margin-right: 54%; }

.mR-55 {
  margin-right: 55%; }

.mR-56 {
  margin-right: 56%; }

.mR-57 {
  margin-right: 57%; }

.mR-58 {
  margin-right: 58%; }

.mR-59 {
  margin-right: 59%; }

.mR-60 {
  margin-right: 60%; }

.mR-61 {
  margin-right: 61%; }

.mR-62 {
  margin-right: 62%; }

.mR-63 {
  margin-right: 63%; }

.mR-64 {
  margin-right: 64%; }

.mR-65 {
  margin-right: 65%; }

.mR-66 {
  margin-right: 66%; }

.mR-67 {
  margin-right: 67%; }

.mR-68 {
  margin-right: 68%; }

.mR-69 {
  margin-right: 69%; }

.mR-70 {
  margin-right: 70%; }

.mR-71 {
  margin-right: 71%; }

.mR-72 {
  margin-right: 72%; }

.mR-73 {
  margin-right: 73%; }

.mR-74 {
  margin-right: 74%; }

.mR-75 {
  margin-right: 75%; }

.mR-76 {
  margin-right: 76%; }

.mR-77 {
  margin-right: 77%; }

.mR-78 {
  margin-right: 78%; }

.mR-79 {
  margin-right: 79%; }

.mR-80 {
  margin-right: 80%; }

.mR-81 {
  margin-right: 81%; }

.mR-82 {
  margin-right: 82%; }

.mR-83 {
  margin-right: 83%; }

.mR-84 {
  margin-right: 84%; }

.mR-85 {
  margin-right: 85%; }

.mR-86 {
  margin-right: 86%; }

.mR-87 {
  margin-right: 87%; }

.mR-88 {
  margin-right: 88%; }

.mR-89 {
  margin-right: 89%; }

.mR-90 {
  margin-right: 90%; }

.mR-91 {
  margin-right: 91%; }

.mR-92 {
  margin-right: 92%; }

.mR-93 {
  margin-right: 93%; }

.mR-94 {
  margin-right: 94%; }

.mR-95 {
  margin-right: 95%; }

.mR-96 {
  margin-right: 96%; }

.mR-97 {
  margin-right: 97%; }

.mR-98 {
  margin-right: 98%; }

.mR-99 {
  margin-right: 99%; }

.mR-100 {
  margin-right: 100%; }

.mL-1 {
  margin-left: 1%; }

.mL-2 {
  margin-left: 2%; }

.mL-3 {
  margin-left: 3%; }

.mL-4 {
  margin-left: 4%; }

.mL-5 {
  margin-left: 5%; }

.mL-6 {
  margin-left: 6%; }

.mL-7 {
  margin-left: 7%; }

.mL-8 {
  margin-left: 8%; }

.mL-9 {
  margin-left: 9%; }

.mL-10 {
  margin-left: 10%; }

.mL-11 {
  margin-left: 11%; }

.mL-12 {
  margin-left: 12%; }

.mL-13 {
  margin-left: 13%; }

.mL-14 {
  margin-left: 14%; }

.mL-15 {
  margin-left: 15%; }

.mL-16 {
  margin-left: 16%; }

.mL-17 {
  margin-left: 17%; }

.mL-18 {
  margin-left: 18%; }

.mL-19 {
  margin-left: 19%; }

.mL-20 {
  margin-left: 20%; }

.mL-21 {
  margin-left: 21%; }

.mL-22 {
  margin-left: 22%; }

.mL-23 {
  margin-left: 23%; }

.mL-24 {
  margin-left: 24%; }

.mL-25 {
  margin-left: 25%; }

.mL-26 {
  margin-left: 26%; }

.mL-27 {
  margin-left: 27%; }

.mL-28 {
  margin-left: 28%; }

.mL-29 {
  margin-left: 29%; }

.mL-30 {
  margin-left: 30%; }

.mL-31 {
  margin-left: 31%; }

.mL-32 {
  margin-left: 32%; }

.mL-33 {
  margin-left: 33%; }

.mL-34 {
  margin-left: 34%; }

.mL-35 {
  margin-left: 35%; }

.mL-36 {
  margin-left: 36%; }

.mL-37 {
  margin-left: 37%; }

.mL-38 {
  margin-left: 38%; }

.mL-39 {
  margin-left: 39%; }

.mL-40 {
  margin-left: 40%; }

.mL-41 {
  margin-left: 41%; }

.mL-42 {
  margin-left: 42%; }

.mL-43 {
  margin-left: 43%; }

.mL-44 {
  margin-left: 44%; }

.mL-45 {
  margin-left: 45%; }

.mL-46 {
  margin-left: 46%; }

.mL-47 {
  margin-left: 47%; }

.mL-48 {
  margin-left: 48%; }

.mL-49 {
  margin-left: 49%; }

.mL-50 {
  margin-left: 50%; }

.mL-51 {
  margin-left: 51%; }

.mL-52 {
  margin-left: 52%; }

.mL-53 {
  margin-left: 53%; }

.mL-54 {
  margin-left: 54%; }

.mL-55 {
  margin-left: 55%; }

.mL-56 {
  margin-left: 56%; }

.mL-57 {
  margin-left: 57%; }

.mL-58 {
  margin-left: 58%; }

.mL-59 {
  margin-left: 59%; }

.mL-60 {
  margin-left: 60%; }

.mL-61 {
  margin-left: 61%; }

.mL-62 {
  margin-left: 62%; }

.mL-63 {
  margin-left: 63%; }

.mL-64 {
  margin-left: 64%; }

.mL-65 {
  margin-left: 65%; }

.mL-66 {
  margin-left: 66%; }

.mL-67 {
  margin-left: 67%; }

.mL-68 {
  margin-left: 68%; }

.mL-69 {
  margin-left: 69%; }

.mL-70 {
  margin-left: 70%; }

.mL-71 {
  margin-left: 71%; }

.mL-72 {
  margin-left: 72%; }

.mL-73 {
  margin-left: 73%; }

.mL-74 {
  margin-left: 74%; }

.mL-75 {
  margin-left: 75%; }

.mL-76 {
  margin-left: 76%; }

.mL-77 {
  margin-left: 77%; }

.mL-78 {
  margin-left: 78%; }

.mL-79 {
  margin-left: 79%; }

.mL-80 {
  margin-left: 80%; }

.mL-81 {
  margin-left: 81%; }

.mL-82 {
  margin-left: 82%; }

.mL-83 {
  margin-left: 83%; }

.mL-84 {
  margin-left: 84%; }

.mL-85 {
  margin-left: 85%; }

.mL-86 {
  margin-left: 86%; }

.mL-87 {
  margin-left: 87%; }

.mL-88 {
  margin-left: 88%; }

.mL-89 {
  margin-left: 89%; }

.mL-90 {
  margin-left: 90%; }

.mL-91 {
  margin-left: 91%; }

.mL-92 {
  margin-left: 92%; }

.mL-93 {
  margin-left: 93%; }

.mL-94 {
  margin-left: 94%; }

.mL-95 {
  margin-left: 95%; }

.mL-96 {
  margin-left: 96%; }

.mL-97 {
  margin-left: 97%; }

.mL-98 {
  margin-left: 98%; }

.mL-99 {
  margin-left: 99%; }

.mL-100 {
  margin-left: 100%; }

.border-coral {
  border: coral 2px solid !important; }

.border-orange {
  border: orange 2px solid !important; }

.border-yellow {
  border: yellow 2px solid !important; }

.border-black {
  border: black 2px solid !important; }

.border-green {
  border: green 2px solid !important; }

.border-blue {
  border: blue 2px solid !important; }

.border-grey {
  border: grey 2px solid !important; }

.border-purple {
  border: purple 2px solid !important; }

.border-red {
  border: red 2px solid !important; }

.border-white {
  border: white 2px solid !important; }

.border-pink {
  border: pink 2px solid !important; }

.bg-coral {
  background-color: coral !important; }

.bg-orange {
  background-color: orange !important; }

.bg-yellow {
  background-color: yellow !important; }

.bg-black {
  background-color: black !important; }

.bg-green {
  background-color: green !important; }

.bg-blue {
  background-color: blue !important; }

.bg-grey {
  background-color: grey !important; }

.bg-purple {
  background-color: purple !important; }

.bg-red {
  background-color: red !important; }

.bg-white {
  background-color: white !important; }

.bg-pink {
  background-color: pink !important; }

.color-coral {
  color: coral !important; }

.color-orange {
  color: orange !important; }

.color-yellow {
  color: yellow !important; }

.color-black {
  color: black !important; }

.color-green {
  color: green !important; }

.color-blue {
  color: blue !important; }

.color-grey {
  color: grey !important; }

.color-purple {
  color: purple !important; }

.color-red {
  color: red !important; }

.color-white {
  color: white !important; }

.color-pink {
  color: pink !important; }

.brad-1 {
  border-radius: 1px; }

.brad-2 {
  border-radius: 2px; }

.brad-3 {
  border-radius: 3px; }

.brad-4 {
  border-radius: 4px; }

.brad-5 {
  border-radius: 5px; }

.brad-6 {
  border-radius: 6px; }

.brad-7 {
  border-radius: 7px; }

.brad-8 {
  border-radius: 8px; }

.brad-9 {
  border-radius: 9px; }

.brad-10 {
  border-radius: 10px; }

.brad-11 {
  border-radius: 11px; }

.brad-12 {
  border-radius: 12px; }

.brad-13 {
  border-radius: 13px; }

.brad-14 {
  border-radius: 14px; }

.brad-15 {
  border-radius: 15px; }

.brad-16 {
  border-radius: 16px; }

.brad-17 {
  border-radius: 17px; }

.brad-18 {
  border-radius: 18px; }

.brad-19 {
  border-radius: 19px; }

.brad-20 {
  border-radius: 20px; }

.brad-21 {
  border-radius: 21px; }

.brad-22 {
  border-radius: 22px; }

.brad-23 {
  border-radius: 23px; }

.brad-24 {
  border-radius: 24px; }

.brad-25 {
  border-radius: 25px; }

.brad-26 {
  border-radius: 26px; }

.brad-27 {
  border-radius: 27px; }

.brad-28 {
  border-radius: 28px; }

.brad-29 {
  border-radius: 29px; }

.brad-30 {
  border-radius: 30px; }

.brad-31 {
  border-radius: 31px; }

.brad-32 {
  border-radius: 32px; }

.brad-33 {
  border-radius: 33px; }

.brad-34 {
  border-radius: 34px; }

.brad-35 {
  border-radius: 35px; }

.brad-36 {
  border-radius: 36px; }

.brad-37 {
  border-radius: 37px; }

.brad-38 {
  border-radius: 38px; }

.brad-39 {
  border-radius: 39px; }

.brad-40 {
  border-radius: 40px; }

.brad-41 {
  border-radius: 41px; }

.brad-42 {
  border-radius: 42px; }

.brad-43 {
  border-radius: 43px; }

.brad-44 {
  border-radius: 44px; }

.brad-45 {
  border-radius: 45px; }

.brad-46 {
  border-radius: 46px; }

.brad-47 {
  border-radius: 47px; }

.brad-48 {
  border-radius: 48px; }

.brad-49 {
  border-radius: 49px; }

.brad-50 {
  border-radius: 50px; }

.brad-51 {
  border-radius: 51px; }

.brad-52 {
  border-radius: 52px; }

.brad-53 {
  border-radius: 53px; }

.brad-54 {
  border-radius: 54px; }

.brad-55 {
  border-radius: 55px; }

.brad-56 {
  border-radius: 56px; }

.brad-57 {
  border-radius: 57px; }

.brad-58 {
  border-radius: 58px; }

.brad-59 {
  border-radius: 59px; }

.brad-60 {
  border-radius: 60px; }

.brad-61 {
  border-radius: 61px; }

.brad-62 {
  border-radius: 62px; }

.brad-63 {
  border-radius: 63px; }

.brad-64 {
  border-radius: 64px; }

.brad-65 {
  border-radius: 65px; }

.brad-66 {
  border-radius: 66px; }

.brad-67 {
  border-radius: 67px; }

.brad-68 {
  border-radius: 68px; }

.brad-69 {
  border-radius: 69px; }

.brad-70 {
  border-radius: 70px; }

.brad-71 {
  border-radius: 71px; }

.brad-72 {
  border-radius: 72px; }

.brad-73 {
  border-radius: 73px; }

.brad-74 {
  border-radius: 74px; }

.brad-75 {
  border-radius: 75px; }

.brad-76 {
  border-radius: 76px; }

.brad-77 {
  border-radius: 77px; }

.brad-78 {
  border-radius: 78px; }

.brad-79 {
  border-radius: 79px; }

.brad-80 {
  border-radius: 80px; }

.brad-81 {
  border-radius: 81px; }

.brad-82 {
  border-radius: 82px; }

.brad-83 {
  border-radius: 83px; }

.brad-84 {
  border-radius: 84px; }

.brad-85 {
  border-radius: 85px; }

.brad-86 {
  border-radius: 86px; }

.brad-87 {
  border-radius: 87px; }

.brad-88 {
  border-radius: 88px; }

.brad-89 {
  border-radius: 89px; }

.brad-90 {
  border-radius: 90px; }

.brad-91 {
  border-radius: 91px; }

.brad-92 {
  border-radius: 92px; }

.brad-93 {
  border-radius: 93px; }

.brad-94 {
  border-radius: 94px; }

.brad-95 {
  border-radius: 95px; }

.brad-96 {
  border-radius: 96px; }

.brad-97 {
  border-radius: 97px; }

.brad-98 {
  border-radius: 98px; }

.brad-99 {
  border-radius: 99px; }

.brad-100 {
  border-radius: 100px; }

.zindex-1 {
  z-index: 1 !important; }

.zindex-2 {
  z-index: 2 !important; }

.zindex-3 {
  z-index: 3 !important; }

.zindex-4 {
  z-index: 4 !important; }

.zindex-5 {
  z-index: 5 !important; }

.zindex-6 {
  z-index: 6 !important; }

.zindex-7 {
  z-index: 7 !important; }

.zindex-8 {
  z-index: 8 !important; }

.zindex-9 {
  z-index: 9 !important; }

.zindex-10 {
  z-index: 10 !important; }

.zindex-11 {
  z-index: 11 !important; }

.zindex-12 {
  z-index: 12 !important; }

.zindex-13 {
  z-index: 13 !important; }

.zindex-14 {
  z-index: 14 !important; }

.zindex-15 {
  z-index: 15 !important; }

.zindex-16 {
  z-index: 16 !important; }

.zindex-17 {
  z-index: 17 !important; }

.zindex-18 {
  z-index: 18 !important; }

.zindex-19 {
  z-index: 19 !important; }

.zindex-20 {
  z-index: 20 !important; }

.zindex-21 {
  z-index: 21 !important; }

.zindex-22 {
  z-index: 22 !important; }

.zindex-23 {
  z-index: 23 !important; }

.zindex-24 {
  z-index: 24 !important; }

.zindex-25 {
  z-index: 25 !important; }

.zindex-26 {
  z-index: 26 !important; }

.zindex-27 {
  z-index: 27 !important; }

.zindex-28 {
  z-index: 28 !important; }

.zindex-29 {
  z-index: 29 !important; }

.zindex-unset {
  z-index: unset; }

.vCenter {
  display: flex;
  align-items: center;
  justify-content: center; }

.vTop {
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.vBottom {
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.vRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.hauto {
  height: 100%; }

.wauto {
  width: 100%; }

.imgResponsive {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.flex-col {
  display: flex;
  flex-direction: column; }

.flex-fill {
  flex-grow: 1; }

.dispinblock {
  display: inline-block; }

.dispblock {
  display: block; }

.txtright {
  text-align: right; }

.txtcenter {
  text-align: center; }

.txtleft {
  text-align: left; }

.jcontent {
  text-align: justify;
  text-justify: inter-word; }

.font-b {
  font-weight: bold; }

.ofit-cover {
  object-fit: cover; }

.font-full {
  font-size: 100em; }

.font-l {
  font-weight: 200 !important; }

.yellow-ititoca {
  color: #F3C300 !important; }

.bg-ititoca {
  background-color: #415364 !important; }

.border-blue-ititoca {
  border: #415364 3px solid; }

.color-blue-ititoca {
  color: #415364; }

.bg-ititoca-orange {
  background-color: #F3C300; }

.nopadding {
  padding: 0 !important; }

.nomargin {
  margin: 0 !important; }

.layAbsolute {
  position: absolute;
  left: 0;
  top: 0; }

.layAbsoluteRight {
  position: absolute;
  right: 0;
  top: 0; }

.bg-ititoca-section {
  background-color: #f5f5f5; }

.bg-ititoca-section-modal {
  background-color: #dcdcdc; }

.hCenter {
  margin: auto; }

.hauto {
  height: auto; }

.wauto {
  width: auto; }

.ofit-contain {
  object-fit: contain; }

.yellow-button {
  background-color: #F3C300; }

.txtbutton {
  color: #415364; }

.orange-ititoca {
  color: #E66208 !important; }

.bg-grey-ititoca [type=text] {
  background-color: #415364 !important; }

.grey-ititoca {
  color: #415364; }

.border-yellow {
  border: 2px solid #F3C300; }

.article-bg {
  background-color: grey; }

.article-border-grey {
  border: #b8b8b8 solid 1px; }

.pT-logo {
  margin-top: 170px; }

.bg-red-ititoca {
  background-color: #CD5946; }

.white-ititoca {
  color: #F5F5F5; }

.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.txtnone {
  text-decoration: none !important; }

.posRelative {
  position: relative; }

.add-bg-trans {
  background-color: rgba(255, 255, 255, 0.7); }
